* {
  margin: 0;
  padding: 0;
  }

.App {
  text-align: center;
  padding: 1rem;
}

.headshot{
  border-radius: 100%;
  height: 15rem;
  margin: .5rem;
}

h1, h2, h3 {
  color: white;
}

.card{
  border-radius: 15px;
  max-width: 725px;
  height: 325px;
  margin: 2rem auto;
  border: 1px solid white;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-position: center center;
  background-size: cover;
  position: relative;
  text-decoration: none;
  transition: transform .7s;

}

.caption {
  background-color: rgba(0,0,0,.7);
  padding: 1rem 0rem;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

/* 
Alternate card link

.card > .caption > a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none;
    z-index: 10;
    background-color: white;
    opacity: 0;
    filter: alpha(opacity=0);
} */

.card:hover {
  transform: scale(1.07);
}

.button {

  border: 1px solid gray;
  margin: 1rem;
  border-radius: 10px;
  list-style-type: none;
  box-shadow: 1px 1px #666666;
  width: 150px;

}


.iconContainer > ul {
  
  display: flex;
  justify-content: center;
}


.iconContainer > ul> .button > a {
  color: white;
  display: block;
  height: 50px;
  width: 100%;
  font-size: 1.5rem;
  text-decoration: none;
  
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.button:hover {
  opacity:0.7;
  box-shadow: none;
}

.music{
  margin: 2rem auto;
  max-width: 725px;
}

.cover{
  max-width: 60%;
}

.musicStores {
  list-style: none;
}

.storeButton > a {
  display: block;
  width: 100%;
  height: 75px;
  font-size: 1.25rem;
  text-decoration: none;
  color: white;
  margin: auto;
  
}

.storeButton {
  /* border: 1px; */
  margin: 1rem;
  border-radius: 15px;
  transition: transform .4s;
  display: flex;
  align-items: center;
  background-color: rgb(245, 245, 245);
}

.storeButton:hover {
  transform: scale(1.07);
}

.musicStores > .storeButton > a > .icon > .fab {
  font-size: 2.25rem;
  margin-right: .75rem;
}

.contact{
  display: flex;
  flex-direction: column;
   
  
}

.contactInfo {
  width: 300px;
  height: 50px;
  border-radius: 15px;
  margin: 1rem  auto;
  background-color: teal;
  border: 1px solid white;
  transition: transform .6s;

}

.contactInfo:hover{
  transform: scale(1.07);
}

.contactInfo > a > .icon > i {
  margin-right: 1rem;
  font-size: 1.25rem;
  color: white;
}

.contactInfo > a {
  color: white;
  text-decoration: none;
  display: block;
  height: 100%;
}

.music > h2 {
  margin: 1rem auto 2rem;
}

@media only screen and (max-width: 600px) {
  .card{
    height: 200px;
}
}