* {
  margin: 0;
  padding: 0;
  }

.App {
  text-align: center;
  padding: 1rem;
}

.headshot{
  border-radius: 100%;
  height: 15rem;
}

.cat1{
  /* background-color: purple; */
}

.card{
  background-color: aquamarine;
  border-radius: 15px;
  max-width: 750px;
  height: 375px;
  margin: 1.5rem auto;
  border: 1px solid white;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-position: center center;
  background-size: cover;

}
